* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}
html, body {  
    overflow-x: hidden;
  }
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body h1{
    font-size: 2.5rem;
}


body h2{
    font-size: 2rem;
}

body p, body li, button, a, input, textarea, select{
    font-size: 1rem;
    line-height: 1.6;
}

    /** NavBar Component Start **/

    #Mobile_HVAC_Logo {
        display: none;
    }
    
    .navbar {
        position: fixed;
        width: 100%;
        background-color: rgba(232,229,208,255);
        z-index: 2;
    }

    .fa.fa-bars.NavIcon {
        display: none;
    }

    .NavLinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-decoration: none;
        list-style-type: none;
        align-items: center;
        padding: 0px 25px 0px 25px;
    }

    .NavLinks li {
        padding: 10px;
        width: 25%;
        text-align: center;
    }

    .NavLinks li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    .NavLinks li a:hover {
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .NavLinks li a:active {
        color: #807c7b;
        text-shadow: none;
    }
    
    /** NavBar Component End **/

    /** Home Page Start **/

    .MainContainer {
        position: relative;
    }

    .BGimg {
        height: 70vh;
        display: block;
        background-image: url(assets/1.jpeg);
        background-size: cover;
        background-color: black;
        background-position: center bottom;
    }

    .headlineText {
        position: absolute;
        top: 27%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        z-index: 1;
    }

    .headlineText2 {
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        z-index: 1;
    }

    .headlineButton {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        cursor: pointer;
        z-index: 1;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .headlineButton:hover {
        background-color: #347536;
        color: white;
    }

    .headlineButton:active {
        box-shadow: none;
    }

    .SecondContainer {
        position: relative;
    }

    .CarStrip {
        position: relative;
        width: 100%;
    }

    .CarStrip img {
        width: 100%;
        display: block;
    }

    .van {
        position: absolute;
        top: -85%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: VanfadeIn 1.5s;
    }


    @keyframes VanfadeIn {     
        0% {
            left: 48%;
            }
        100% {
            left: 50%;
            }

            0% { opacity: 0; }
            100% { opacity: 1; }
        }


    .van img {
        width: 100%;
        display: block;
    }

    .ThirdContainer {
        display: flex;
        flex-direction: row;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: 20%;
        margin-right: 20%;
        justify-content: center;
        align-items: center;
    }

    .maColumn1, .maColumn2 {
        display: flex;
        justify-content: center;
        padding: 5%;
        animation: fadeIn 2s;
    }

    .maColumn1 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .ForthContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 25px;
        align-items: center;
        animation: fadeIn 2s;
    }

    .iconContainer {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }

    .imgName {
        padding: 5px;
    }

    .imgLink a {
        color: black;
    }

    .imgLink:hover {
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .imgLink a:active {
        color: grey;
    } 

    .FifthContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: 25px;
        background: #e7e5d0;
    }

    .FifthContainer img {
        width: 50%;
        animation: fadeIn 2s;
    }

    .FifthContainerBlurb {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-right: 250px;
        background-color: #e7e5d0;
        animation: fadeIn 2s;
    }

    .FifthContainerBlurb p {
        padding-bottom: 25px;
    }

    .FifthBlurbButtonContainer {
        width: 100%;
    }

    .FifthContainerBlurb button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        cursor: pointer;
        width: 55%;
        white-space: nowrap;
        }


    .FifthContainerBlurb button:hover {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
        background-color: #347536;
        color: white;
    }

    .FifthContainerBlurb button:active {
        top: 1px;
        left: 2px;
        box-shadow: none;
    }

    /** Home Page End **/

    /** Form Component Start **/

    .FormContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color:#f5f3e7;
        padding: 25px 0px 25px 0px;
    }

    .FormContainer2 {
        width: 90%;
        padding: 50px 0px 50px 0px;
        animation: fadeIn 2s;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }

    .FormContainer h1{
        padding-bottom: 20px;
    }

    .FormContainer p{
        padding-bottom: 30px;
    }

    .hsFORM {
        width: 52%;
        display: inline-block;
    }

    .Forms__FormsViralityContainer-sc-11vy283-0 {
        display: none;
    }

    .MainForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 20% 10px 20%;
    }

    .FormRow1 {
        display: flex;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 30px;
    }

    .FormRow1 input {
        padding: 15px;
        background-color: white;
        width: 50%;
    }

    #name, #Number {
        margin-right: 5px;
    }

    #email, #type {
        margin-left: 5px;
    }

    .FormRow2 {
        width: 100%;
        background-color: white;
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .FormRow2 select {
        padding: 15px;
        width: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: grey;
    }

    .FormRow3 {
        display: flex;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 30px;
    }

    .FormRow3 input {
        padding: 15px 0px 15px 0px;
        background-color: white;
        width: 50%;
    }

    .FormRow3 input::placeholder {
        padding-left: 15px;
    }

    .FormRow3 select {
        padding: 15px;
        background-color: white;
        width: 50%;
        color: grey;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .FormRow4 {
        width: 100%;
        padding-bottom: 15px;
        padding-top: 5px;
        background-color: white;
    }

    .FormRow4 textarea {
        width: 100%;
        resize: none;
    }

    .FormRow4 textarea::placeholder {
        padding: 15px;
    }

    ::placeholder {
        color: grey;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .FormRow5 {
        width: 88%;
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }

    .FormRow5 input {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .FormRow5 input:hover {
        background-color: #347536;
        color: white;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .FormRow5 input:active {
        box-shadow: none;
    }

    /** Form Component End **/

    /** Footer Component Start **/

    .footerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #807c7b;
        color: black;
        padding: 25px;
    }

    .footerContainer ul {
        list-style: none;
    }

    .SiteMap ul li a, .ContactUs p a {
        color: black;
    }

    .ContactUs p a:hover {
        color: white;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .SiteMap a:hover {
        color: white;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .SiteMap a:active {
        color: rgb(65, 51, 51);
    } 

    .ServiceAreas h2, .SiteMap h2, .ContactUs h2 {
        animation: fadeIn 2s;
        margin-bottom: 10px;
        color:black;
    }

    .ServiceAreas ul, .SiteMap ul, .ContactUs p {
        animation: fadeIn 2s;
    }

    /** Footer Component End **/

    /** Alt-Page Hero Container Component Start **/

    .HeroContainer {
        position: relative;
        background-color: black;
    }

    .HeroContainerBlurb {
        position: absolute;
        top: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        width: 100%;
    }

    .HeroBGImageMini {
        height: 70vh;
        background-image: url("assets/HomeInterior1.jpeg");
        background-size: cover;
        display: block;
        opacity: .5;
        background-color: black;
        filter: brightness(50%);
        background-position: center 45%;
    }

    .HeroBGImageAC {
        height: 70vh;
        background-image: url("assets/HomeInterior2.webp");
        background-size: cover;
        display: block;
        opacity: .5;
        background-color: black;
        filter: brightness(50%);
        background-position: center 75%;
    }

    .HeroBGImageHeating {
        height: 70vh;
        background-image: url("assets/HomeInterior3.jpeg");
        background-size: cover;
        display: block;
        opacity: .5;
        background-color: black;
        filter: brightness(50%);
        background-position: center 70%;
    }

    .HeroContainerBlurb-0 {
        width: 60%;
    }

    .HeroContainerBlurb-0 h1{
        width: 72%;
    }

    .HeroContainerBlurb-1{
        width: 60%;
    }

    .HeroContainerBlurb-1 p{
        width: 75%;
        padding: 20px 20px 20px 0px;
    }

    .HeroContainerBlurb-2{
        width: 60%;
    }


    .HeroHeadlineButton {
        position: absolute;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .HeroHeadlineButton:hover {
            background-color: #347536;
            color: white;
            box-shadow: 0px 1px 2px #347536;
    }

    .HeroHeadlineButton:active {
        box-shadow: none;
    }

    /** Alt-Page Hero Container Component End**/

    /** Alt-Page Hero Container Component 2 Start **/

    .HeroContainer2 {
        position: relative;
        background-color: black;
    }
    
    .HeroContainerBlurb2 {
        position: absolute;
        top: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        width: 100%;
    }
    
    .Hero2BGImageAbout {
        height: 40vh;
        background-image: url(assets/HomeInterior4.webp);
        background-size: cover;
        display: block;
        opacity: .5;
        background-color: black;
        filter: brightness(50%);
        background-position: center 65%;
    }

    .Hero2BGImageReview {
        height: 40vh;
        background-image: url(assets/HomeInterior5.webp);
        background-size: cover;
        display: block;
        opacity: .5;
        background-color: black;
        filter: brightness(50%);
        background-position: center 50%;
    }

    .Hero2BGImageRequest {
        height: 40vh;
        background-image: url(assets/HeatinHead2.jpeg);
        background-size: cover;
        display: block;
        opacity: .5;
        background-color: black;
        filter: brightness(50%);
        background-position: center 0%;
    }
    
    .HeroContainerBlurb2-0 {
        width: 60%;
    }
    
    .HeroContainerBlurb2-0 h1{
        width: 72%;
        white-space: nowrap;
    }
    
    .HeroContainerBlurb2-1{
        width: 60%;
    }
    
    .HeroContainerBlurb2-1 p{
        width: 75%;
        padding: 20px 20px 20px 0px;
    }
    
    .HeroContainerBlurb2-2{
        padding: 25px;
        width: 60%;
    }
    
    
    .HeroHeadlineButton {
        position: absolute;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    /** Alt-Page Hero Container Component 2 End **/

    /** Alt-Page Description Container Component Start**/



    .DescriptionContainer {
        width: 100%;
        background: #e7e5d0;
    }

    .DescriptionContainerMainContent {
        grid-column: 1;
        transform: translate(15%, 0%);
        width: 81%;
        padding-bottom: 25px;
    }
    
    .DescriptionContainerBlurb {
        animation: fadeIn 2s;
    }

    .DescriptionContainerBlurb button:hover{
        background-color: #347536;
        color: white;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .DescriptionContainerBlurb button:active {
        box-shadow: none;
    }

    .ImageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
        height: 100%;
        width: 100%;
    }

    .DescriptionContainer img {
        width: 100%;
    }

    .DescriptionContainerBlurb {
        display: grid;
        background-color: #e7e5d0;
        grid-template-rows: 50px 1fr;
        grid-template-columns: 2fr 2fr;
        grid-row-gap: 25px;
    }

    .DescriptionContainerBlurb h2 {
        grid-column: 1;
        transform: translate(15%, 0%);
        width: 81%;
        padding-top: 25px;
    }

    .DescriptionContainerBlurb ul {
        padding: 0px 0px 25px 15px;
    }

    .DescriptionContainerBlurb ul li {
        padding: 5px 0px 5px 0px;
    }

    .firstParagraph {
        padding-top: 25px;
    }

    .DescriptionContainerBlurb p {
        padding-bottom: 25px;
    }

    .DescriptionContainerBlurb button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        cursor: pointer;
        width: 35%;
    }


    /** Alt-Page Description Container Component End**/

    /** Main Content Container Component Starts **/

    .MainContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color:#f5f3e7;
        padding: 25px 0px 25px 0px;
    }
    
    .MainContentContainer-1 {
        width: 35%;
        padding: 25px 0px 25px 0px;
        animation: fadeIn 2s;
    }
    
    .MainContentContainer h2{
        padding-bottom: 20px;
        text-align: left;
    }
    
    .MainContentContainer p{
        width: 100%;
        text-align: left;
        border-left: 10px;
        border-style: inset;
        padding-left: 15px;
        border-width: 0px 0px 0px medium;
        border-color: black;
    }

    /** Main Content Container Component Ends **/

    /** About Page Starts **/

    .MyStory {
        padding-top: 60px;
    }
    
    /** About Page Ends **/

    /** Review Page Starts **/

    .checked {
        color: orange;
      }

    .ReviewText {
        padding-top: 10px;
    }

    .firstStar {
        padding-left: 10px;
    }

    .NewReview {
        padding-top: 35px;
    }
    /** Review Page Ends **/

    /** Thank You Page Starts **/

    .TYContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .BGimg2 {
        background-image: url(assets/1.jpeg);
        width: 100%;
        height: 100vh;
        position: relative;
        background-repeat: no-repeat;
        background-color: rgba(250, 245, 234, 1);
        background-position: center top;
    }

    .TYTextContainer {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .TYTextContainer2 {
        width: 60%;
    }

    .TYTextContainer2 h1 {
        color: #4CAF50;
        text-align: center;
    }

    .TYTextContainer2 p {
        font-weight: bold;
        padding: 25px;
    }

    /** Thank You Page Ends **/

    /** Media Queries Begin **/
    @media screen and (max-width: 1199.98px) {

        /** Body Starts **/
        body h1{
            font-size: 2rem;
        }
        
        body h2{
            font-size: 1.8rem;
        }
        
        body p, body li, button, a, input, textarea, select{
            font-size: .8rem;
        }
        /** Body Ends **/

        /** Home Page Starts **/

        .headlineButton {
            top: 50%;
        }

        .ThirdContainer {
            margin-left: auto;
            margin-right: auto;
        }

        .FifthContainerBlurb {
            display: flex;
            flex-direction: column;
            padding-right: 150px;
        }

        .FifthContainerBlurb button {
            width: 65%;
        }
        /** Home Page Ends **/

        /** Form Component Starts **/
        .MainForm {
            padding: initial;
        }
        /** Form Component Ends **/
    }

    @media screen and (max-width: 991.98px) {

        /** Body Starts **/
        body h1{
            font-size: 1.9rem;
        }
        
        
        body h2{
            font-size: 1.7rem;
        }
        
        /** Body Ends **/

        /** Home Page Starts **/

        .headlineText2 {
            top: 38%;
        }

        .headlineButton {
            top: 52%;
        }

        .FifthContainerBlurb {
            padding: 0px 20px 0px 20px;
        }

        /** Home Page Ends **/

        /** Alt-Page Description Container Component Start**/

        .ImageContainer {
            grid-row: inherit;
            align-items: baseline;
        }

        .DescriptionContainerBlurb h2 {
            width: 100%;
            padding: 0px;
            transform: translate(60%, 25%);
        }

        .firstParagraph {
            padding: 0px;
        }

        .DescriptionContainerMainContent {
            padding-bottom: 10px;
        }

        .DescriptionContainerBlurb button {
            width: 45%;
        }

        .DescriptionContainerBlurb ul {
            padding: 0px 0px 25px 10px;
        }
        /** Alt-Page Description Container Component End**/

        /** About Page Begins **/
        .MainContentContainer-1 {
            width: 50%;
        }
        /** About Page Ends **/

        /** Form Component Starts **/

        .hsFORM {
            width: initial!important;
            display: initial!important;
        }
        /** Form Component Ends **/
    
        /** Thank You Page Start **/

        .TYTextContainer2 {
            width: 75%;
        }
    
        /** Thank You Page Ends **/
    }

    @media screen and (max-width: 767.98px) { 

        /** NavBar Component Start **/

        .navbar {
            position: static;
            width: 100%;
            background-color: rgba(232,229,208,255);
        }
          
        /** NavBar Component End **/

        /** Home Page Starts **/

        .BGimg {
            height: 50vh;
        }

        .headlineText {
            top: 15%;
        }
        .headlineText2 {
            top: 30%;
        }

        .headlineButton {
            top: 50%;
        }

        .ForthContainer {
            display: none;
        }

        .FifthContainerBlurb {
            padding: 0px 20px 0px 20px;
        }

        /** Home Page Ends **/

        /** Alt-Page Description Container Component Start**/

        .ImageContainer {
            display: none;
        }

        .DescriptionContainer {
            padding-top: 50px;
        }

        .DescriptionContainerBlurb {
            grid-template-columns: none;
            grid-template-rows: none;
        }

        .DescriptionContainerBlurb p, .DescriptionContainerBlurb ul {
            margin-left: 15%;
            margin-right: 15%;
        }
        .DescriptionContainerBlurb h2 {
            transform: none;
            width: 100%;
            white-space: nowrap;
            display: flex;
            justify-content: center;
        }


        .DescriptionContainerMainContent {
            transform: none;
            width: 100%;
            padding-bottom: 50px;
        }

        .DescriptionContainerBlurb button {
            width: 22%;
            transform: translate(68%, 0%);
        }
        /** Alt-Page Description Container Component End**/


        /** Alt-Page Hero Container Component Start **/
        
        .HeroBGImageMini, .HeroBGImageAC, .HeroBGImageHeating {
            height: 50vh;
        }

        .HeroContainerBlurb {
            top: 12%;
        }

        .HeroContainerBlurb-0, .HeroContainerBlurb-1, .HeroContainerBlurb-2{
            width: 80%;
        }

        /** Alt-Page Hero Container Component Start **/

        /** Alt-Page Hero Container Component 2 Start **/

        .Hero2BGImageAbout, .Hero2BGImageRequest, .Hero2BGImageReview {
            height: 25vh;
        }

        .HeroContainerBlurb2 {
            top: 15%;
        }

        .HeroContainerBlurb2-0, .HeroContainerBlurb2-2 {
            width: 80%;
        }

        .HeroContainerBlurb2-2 {
            padding: 15px;
        }
        
        /** Alt-Page Hero Container Component 2 End **/


        /** Form Component Starts **/
        .FormContainer2 {
            padding: 25px 0px 25px 0px;
        }

        /** Form Component Ends **/
        }


    @media screen and (max-width: 575.98px) { 

        /** NavBar Component Start **/

        #Mobile_HVAC_Logo {
            display: inherit;
            background-color: rgba(232,229,208,255);
            padding: 10px 0px 0px 15px;
        }

        .NavLinks {
            display: none;
            flex-direction: column;
            justify-content: left;
            text-decoration: none;
            list-style-type: none;
            align-items: normal;
            margin-left: 0%;
            margin-right: 0%;
            margin-top: 0%;
            animation: fadeIn 1s;
            
        }

        .NavLinks li {
            width: 100%;
            padding: 10px 0px 10px 0px;
        }

        .NavLinks li a {
            display: block;
            width: 100%;
        }

        #HVAC_Logo {
            padding: 0px;
        }
        
        #HVAC_Logo a img {
            display: none;
        }

        .NavLinks li:hover{
            background-color: #f5f3e7;
        }

        .fa.fa-bars.NavIcon {
            background: transparent;
            display: block;
            position: absolute;
            right: 25px;
            top: 10px;
            z-index: 2;
            font-size: 45px;
            padding: 0px;
            color: #4CAF50;
          }

        .fa.fa-bars.NavIcon:hover {
            color: #347536;
        }

        #Request_Service {
            padding-bottom: 10px;
        }

        /** NavBar Component End **/

        /** Body Starts **/
        body h1{
            font-size: 1.5rem;
        }
        
        
        body h2{
            font-size: 1.2rem;
        }

        .NavLinks li a{
            font-size: 1rem;
        }

        /** Body Ends **/

        /** Home Starts **/

        .BGimg {
            height: 35vh;
        }

        .maColumn1 {
            padding-left: 0px;
            padding-right: 0px;
        }
        .maColumn2 {
            padding:0px;
        }

        .ThirdContainer {
            flex-direction: column;
        }

        .FifthContainerBlurb {
            padding: 25px;
        }

        .FifthContainerBlurb button {
            width: 50%;
        }
        .FifthContainer img {
            display: none;
            align-items: baseline;
        }

        .van {
            animation: none;
        }
        /** Home Ends **/

        /** About Page Start **/
        
        .MainContentContainer-1 {
            width: 75%;
        }

        /** About Page End **/

        /** Alt-Page Hero Container Component Start **/

        .HeroBGImageMini, .HeroBGImageAC, .HeroBGImageHeating {
            height: 40vh;
        }

        .HeroContainerBlurb {
            top: 15%;
        }


        .HeroContainerBlurb-0 h1, .HeroContainerBlurb-1 p {
            width: 100%;
        }

        .HeroContainerBlurb-1 p {
            padding: 10px 0px 0px 0px;
        }

        .HeroHeadlineButton {
            display: none;
        }

        .DescriptionContainerBlurb button {
            width: 35%;
            transform: translate(42%, 0%);
        }

        /** Alt-Page Hero Container Component End **/

        /** Alt-Page Hero Container Component 2 Start **/

        .Hero2BGImageAbout, .Hero2BGImageRequest, .Hero2BGImageReview {
            height: 20vh;
        }

        .HeroContainerBlurb2 {
            top: 25%;
        }

        /** Alt-Page Hero Container Component 2 End **/

        /** Form Component Starts **/
        .FormRow4 textarea {
            padding: 5px 0px 0px 4%;
        }


        /** Form Component Ends **/
        
        /** Footer Starts **/

        .SiteMap {
            display: none;
        }

        /** Footer Ends **/

            
        /** Thank You Page Start **/

        .TYTextContainer2 {
            width: 100%;
        }
    
        /** Thank You Page Ends **/

     }
    

     @media screen and (max-height: 499px) and (min-width: 575px) {

        .BGimg {
            height: 95vh;
        }
      
        .HeroBGImageMini, .HeroBGImageAC, .HeroBGImageHeating {
            height: 95vh;
        }

        .Hero2BGImageAbout, .Hero2BGImageReview, .Hero2BGImageRequest{
            height: 55vh;
        }
        

    }
    /** Media Queries Ends **/
