* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    /** NavBar Component Star **/

.navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(232,229,208,255);
    z-index: 1;
}

.NavLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.NavLinks li {
    padding: 10px;
    width: 25%;
    text-align: center;
}

.NavLinks li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.NavLinks li a:active {
    color: #4CAF50;
}
    /** NavBar Component End **/

    /** Home Page Start **/

.MainContainer {
    position: relative;
}

.BGimg {
    width: 100%;
    display: block;
}

.headlineText {
    position: absolute;
    display: flex;
    top: 27%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.headlineText2 {
    position: absolute;
    display: flex;
    top: 32%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.headlineButton {
    position: absolute;
    top: 40%;
    left: 45%;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.SecondContainer {
    position: relative;
}

.CarStrip {
    position: relative;
    width: 100%;
}

.CarStrip img {
    width: 100%;
    display: block;
}

.van {
    position: absolute;
    top: -82%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.van img {
    width: 100%;
    display: block;
}

.ThirdContainer {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 394px;
    margin-right: 394px;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.maColumn1, .maColumn2 {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.maColumn1 {
    display: flex;
    flex-direction: column;
}
.ForthContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
    align-items: center;
}

.iconContainer {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.imgName {
    padding: 5px;
}

.FifthContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    background: #e7e5d0;
}

.FifthContainer img {
    width: 50%;
}

.FifthContainerBlurb {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 350px;
    background-color: #e7e5d0;
}

.FifthContainerBlurb p {
    padding-bottom: 25px;
}

.FifthContainerBlurb button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 35%;
    }

    /** Home Page End **/

    /** Form Component Start **/

.FormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#f5f3e7;
    padding: 25px 0px 25px 0px;
}

.FormContainer2 {
    width: 50%;
    padding: 50px 0px 50px 0px;
}

.FormContainer h1{
    padding-bottom: 20px;
}

.FormContainer p{
    padding-bottom: 30px;
}

.MainForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
}

.FormRow1 {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 30px;
}

.FormRow1 input {
    padding: 15px;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    width: 40%;
}

.FormRow2 {
    width: 88.5%;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 30px;
}

.FormRow2 select {
    padding: 15px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
}

.FormRow3 {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 30px;
}

.FormRow3 input {
    padding: 15px;
    background-color: white;
    width: 40%;
    margin-left: 5px;
    margin-right: 5px;
}

.FormRow3 select {
    padding: 15px;
    background-color: white;
    width: 43%;
    margin-left: 5px;
    margin-right: 5px;
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.FormRow4 {
    width: 100%;
    padding-bottom: 15px;
    padding-top: 5px;
}

.FormRow4 textarea {
    padding: 15px;
    width: 84.5%;
    background-color: white;
    resize: none;
}

::placeholder {
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.FormRow5 {
    width: 88%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.FormRow5 button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

    /** Form Component End **/

    /** Footer Component Start **/

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #807c7b;
    color: white;
    padding: 25px;
}

.footerContainer ul {
    list-style: none;
}

    /** Footer Component End **/

    /** Alt-Page Hero Container Component Start **/

.HeroContainer {
    position: relative;
    background-color: black;
}

.HeroContainerBlurb {
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
}

.HeroBGImage {
    width: 100%;
    display: block;
    opacity: .5;
    background-color: black;
    filter: brightness(50%);
}

.HeroContainerBlurb-0 {
    width: 60%;
}

.HeroContainerBlurb-0 h1{
    font-size: 64px;
    width: 72%;
}

.HeroContainerBlurb-1{
    width: 60%;
}

.HeroContainerBlurb-1 p{
    font-size: 22px;
    width: 75%;
    padding: 20px 20px 20px 0px;
}

.HeroContainerBlurb-2{
    width: 60%;
}


.HeroHeadlineButton {
    position: absolute;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

    /** Alt-Page Hero Container Component End**/

    /** Alt-Page Hero Container Component 2 Start **/

    .HeroContainer2 {
        position: relative;
        background-color: black;
    }
    
    .HeroContainerBlurb2 {
        position: absolute;
        top: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        width: 100%;
    }
    
    .Hero2BGImage {
        width: 100%;
        height: 80%;
        display: block;
        opacity: .5;
        background-color: black;
        filter: brightness(50%);
    }
    
    .HeroContainerBlurb2-0 {
        width: 60%;
    }
    
    .HeroContainerBlurb2-0 h1{
        font-size: 64px;
        width: 72%;
    }
    
    .HeroContainerBlurb2-1{
        width: 60%;
    }
    
    .HeroContainerBlurb2-1 p{
        font-size: 22px;
        width: 75%;
        padding: 20px 20px 20px 0px;
    }
    
    .HeroContainerBlurb2-2{
        padding: 25px;
        width: 60%;
    }
    
    
    .HeroHeadlineButton {
        position: absolute;
        padding: 10px 20px;
        font-size: 18px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    /** Alt-Page Hero Container Component 2 End **/

    /** Alt-Page Description Container Component End**/

.DescriptionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background: #e7e5d0;
}

.DescriptionContainer img {
    width: 60%;
}

.DescriptionContainerBlurb {
    display: flex;
    flex-direction: column;
    padding:0px 50px 0px 50px;
    background-color: #e7e5d0;
}

.DescriptionContainerBlurb h1 {
    padding-bottom: 25px;
}

.DescriptionContainerBlurb ul {
    padding: 5px 25px 25px 25px;
}

.DescriptionContainerBlurb ul li {
    padding: 5px;
}

.DescriptionContainerBlurb p {
    padding-bottom: 25px;
}

.DescriptionContainerBlurb button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 35%;
}


    /** Alt-Page Description Container Component End**/

    /** Main Content Container Component Starts **/

    .MainContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color:#f5f3e7;
        padding: 25px 0px 25px 0px;
    }
    
    .MainContentContainer-1 {
        width: 35%;
        padding: 25px 0px 25px 0px;
    }
    
    .MainContentContainer h2{
        padding-bottom: 20px;
        text-align: left;
    }
    
    .MainContentContainer p{
        width: 100%;
        text-align: left;
        border-left: 10px;
        border-style: inset;
        padding-left: 15px;
        border-width: 0px 0px 0px medium;
        border-color: black;
    }

    /** Main Content Container Component Ends **/

    /** About Page Starts **/

    .MyStory {
        padding-top: 60px;
    }
    
    /** About Page Ends **/

    /** Review Page Starts **/

    .checked {
        color: orange;
      }

    .ReviewText {
        padding-top: 10px;
    }

    .firstStar {
        padding-left: 10px;
    }

    .NewReview {
        padding-top: 35px;
    }
    /** Review Page Ends **/